<div class="list-user-container">
  <h5 class="title mb-4">Danh sách phòng ban</h5>
  <div class="d-flex justify-content-between mb-2">
    <div class="search d-flex">
      <input type="text" class="form-control search mr-3" placeholder="Nhập vào tên phòng ban" [(ngModel)]="keyword">
      <button class="btn btn-primary btn-search d-flex align-items-center" (click)="search()">
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>
    </div>
    <div class="add">
      <button class="btn btn-primary" (click)="add()">Thêm mới</button>
    </div>
  </div>
  <nz-table #basicTable [nzData]="departments">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Trạng thái</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data;let index = index">
        <td>{{index + 1}}</td>
        <td>{{item?.name}}</td>
        <td>
          <nz-switch [ngModel]="item?.status === 'active'" (ngModelChange)="updateStatus($event,item)"></nz-switch>
        </td>
        <td>
          <div class="actions">
            <a class="common-action mr-3" (click)="edit(item.id)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
            <a class="common-action" [confirmation]="'Bạn có chắc muốn xóa phòng ban này chứ'" (confirmed)="delete(item?.id)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>