<div>
  <form [formGroup]="form">
    <div class="form-group d-flex align-items-center">
      <label class="form-control-label">First name</label>
      <div class="w-100">
        <input type="text" class="form-control" formControlName="firstName" placeholder="Nhập vào first name">
      </div>
    </div>
    <div class="form-group d-flex align-items-center">
      <label class="form-control-label">Last name</label>
      <div class="w-100">
        <input type="text" class="form-control" formControlName="firstName" placeholder="Nhập vào last name">
      </div>
    </div>
    <div class="form-group d-flex align-items-center">
      <label class="form-control-label">Giới tính</label>
      <div class="w-100">
        <select class="form-control" formControlName="gender">
          <option value="" hidden>-Chọn giới tính-</option>
          <option value="male">Nam</option>
          <option value="female">Nữ</option>
        </select>
      </div>
    </div>
    <div class="form-group d-flex align-items-center">
      <label class="form-control-label">User Name</label>
      <div class="w-100">
        <input type="text" class="form-control" formControlName="userName" placeholder="Nhập vào tên người dùng">
        <div class="errMsg">
          <span class="invalid-feedback">ádads</span>
        </div>
      </div>
    </div>
    <div class="form-group d-flex align-items-center">
      <label class="form-control-label">Mật khẩu</label>
      <div class="w-100">
        <input type="password" class="form-control" formControlName="password" placeholder="Nhập vào mật khẩu">
      </div>
    </div>
    <div class="form-group d-flex align-items-center">
      <label class="form-control-label">Só điện thoại</label>
      <div class="w-100">
        <input type="text" class="form-control" formControlName="phone" placeholder="Nhập vào mật khẩu">
      </div>
    </div>
    <div class="form-group d-flex align-items-center">
      <label class="form-control-label">Ngày sinh</label>
      <div class="w-100">
        <nz-date-picker formControlName="birthday" class="form-control" (ngModelChange)="onChange($event)"></nz-date-picker>
      </div>
    </div>
    <div class="form-group d-flex">
      <label class="form-control-label align-sefl-start">Địa chỉ</label>
      <div class="w-100">
        <textarea type="text" class="form-control" formControlName="address" placeholder="Nhập vào địa chỉ"></textarea>
      </div>
    </div>
  </form>
</div>
<div *nzModalFooter>
  <button class="btn btn-light" (click)="destroyModal()">Hủy bỏ</button>
  <button class="btn btn-primary" (click)="submit()">Lưu lại</button>
</div>