<div>
  <form [formGroup]="form">
    <div class="form-group d-flex align-items-center">
      <label class="form-control-label">Tên phòng ban</label>
      <div class="w-100">
        <input type="text" class="form-control" formControlName="name" placeholder="Nhập vào Tên phòng ban">
      </div>
    </div>
  </form>
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">Hủy bỏ</button>
  <button nzType="primary" (click)="submit()" nz-button [nzLoading]="activity.is('submitting')">Lưu lại</button>
</div>